#containerNuevo{

		display: flex;
		min-width: 90%;
		width: 90%;
		max-width: 90%;
		margin: 10px ;
       	font-size: 0.9em;
       	
		
	}

	#containerNuevo	.botonAñadir {
		
		border: 1px solid #1DA100; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color: #1DA100; /*color botón*/
		color: #ffffff; /*color texto*/
		text-decoration: none; /*decoración texto*/
		text-transform: uppercase; /*capitalización texto*/
		font-family: sans-serif; /*tipografía texto*/
		border-radius: 10px; /*bordes redondos*/
		overflow: hidden;
		transition: 0.4s all ease-in;
		border:2px solid #1DA100;
		font-size: 0.9em;
		margin: 0px 0px;
		margin-left: 10px;
		

		}

			.botonAñadir {
		
		border: 1px solid #1DA100; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color: #1DA100; /*color botón*/
		color: #ffffff; /*color texto*/
		text-decoration: none; /*decoración texto*/
		text-transform: uppercase; /*capitalización texto*/
		font-family: sans-serif; /*tipografía texto*/
		border-radius: 10px; /*bordes redondos*/
		overflow: hidden;
		transition: 0.4s all ease-in;
		border:2px solid #1DA100;
		font-size: 0.9em;
		margin: 0px 0px;
		margin-left: 10px;
		

		}

.btnVolver{
	outline:none;
	border:0;
	background-color: #ffffff;
}

.btnActualizar{
outline:none;
border:0;
background-color: #F9F6FD;
}

.botonAñadir:hover{
    background: #29E100;
    color: #ffffff;
    box-shadow: 0 0 5px #29E100;
    border:2px solid #29E100;
              
    
}

.botonEliminar {
		border: 1px solid #D30000; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color: #D30000; /*color botón*/
		color: #ffffff; /*color texto*/
		text-decoration: none; /*decoración texto*/
		text-transform: uppercase; /*capitalización texto*/
		font-family: sans-serif; /*tipografía texto*/
		border-radius: 10px; /*bordes redondos*/
		overflow: hidden;
		transition: 0.4s all ease-in;
		border:2px solid #D30000;
		font-size: 0.9em;
		}


.botonEliminar:hover{
    background: #FF0000;
    color: #ffffff;
    box-shadow: 0 0 5px #FF0000;
    border:2px solid #FF0000;
              
    
}
.botonActualizar {
		border: 1px solid #033B98; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color: #033B98; /*color botón*/
		color: #ffffff; /*color texto*/
		text-decoration: none; /*decoración texto*/
		text-transform: uppercase; /*capitalización texto*/
		font-family: sans-serif; /*tipografía texto*/
		border-radius: 10px; /*bordes redondos*/
		overflow: hidden;
		transition: 0.4s all ease-in;
		border:2px solid #033B98;
		font-size: 0.9em;
		}


.botonActualizar:hover{
    background: #0865FF;
    color: #ffffff;
    box-shadow: 0 0 5px #0865FF;
    border:2px solid #0865FF;
              
    
}

.botonGeneral {
		border: 1px solid #4A038D; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color: #4A038D; /*color botón*/
		color: #ffffff; /*color texto*/
		text-decoration: none; /*decoración texto*/
		text-transform: uppercase; /*capitalización texto*/
		font-family: sans-serif; /*tipografía texto*/
		border-radius: 10px; /*bordes redondos*/
		overflow: hidden;
		transition: 0.4s all ease-in;
		border:2px solid #4A038D;
		font-size: 0.9em;
		}


.botonGeneral:hover{
    background: #7D09EA;
    color: #ffffff;
    box-shadow: 0 0 5px #7D09EA;
    border:2px solid #7D09EA;
              
    
}


/* Toggle Button */

.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */

.cm-toggle:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */

.cm-toggle:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */

.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

.cm-toggle:checked:after {
	background: #16a085;
}


/* Transition for smoothness */

.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}


/* Custom Color */

.red:checked:after {
	background: #dc281e;
}

.blue:checked:after {
	background: #396afc;
}

.orange:checked:after {
	background: #fc4a1a;
}

.purple:checked:after {
	background: #f953c6;
}
