.btn-bootstrap1 {
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #007bff;
  color: #fff;
  transition: background-color .15s ease-in-out;
}

.btn-bootstrap1:hover, .btn-bootstrap:focus {
  background-color: #0069d9;
}

.btn-bootstrap1:active {
  background-color: #0062cc;
}