.botonGuardar {
        border: 1px solid #088539; /*anchura, estilo y color borde*/
        padding: 10px; /*espacio alrededor texto*/
        background-color: #088539; /*color botón*/
        color: #ffffff; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: sans-serif; /*tipografía texto*/
        border-radius: 10px; /*bordes redondos*/
        overflow: hidden;
        transition: 0.4s all ease-in;
        border:2px solid #088539;
        font-size: 0.9em;
        float: right;
        width: 200px;
        margin: 0px 20px;
        }


.botonGuardar:hover{
    background: #44E907;
    color: #ffffff;
    box-shadow: 0 0 5px #44E907;
    border:2px solid #44E907;
              
    
}

.botonCancelar {
        border: 1px solid #CD1A1A; /*anchura, estilo y color borde*/
        padding: 10px; /*espacio alrededor texto*/
        background-color: #CD1A1A; /*color botón*/
        color: #ffffff; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: sans-serif; /*tipografía texto*/
        border-radius: 10px; /*bordes redondos*/
        overflow: hidden;
        transition: 0.4s all ease-in;
        border:2px solid #CD1A1A;
        font-size: 0.9em;
        float: left;
        width: 200px;
        margin: 0px 20px;
        }


.botonCancelar:hover{
    background: #FF1212;
    color: #ffffff;
    box-shadow: 0 0 5px #FF1212;
    border:2px solid #FF1212;
              
    
}


		/* Progressbar */
		.progressbar {
			display: flex;
			list-style: none;
			margin-bottom: 15px;
			counter-reset: step;
		}

		.progressbar__option {
			width: 100%;
			text-align: center;
			font-size: .7rem;
			text-transform: uppercase;
			position: relative;
		}

		.progressbar__option:before {
			display: flex;
			content: counter(step);
			counter-increment: step;
			width: 20px;
			height: 20px;
			background-color: red;
			margin: 0 auto 5px;
			border-radius: 3px;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 2;
		}


		.progressbar__option:after {
			display: block;
			content: '';
			width: 100%;
			height: 2px;
			background-color: white;
			position: absolute;
			top: 10px;
			left: -50%;
			z-index: 1;
		}

		.progressbar__option:first-child:after {
			content: none;
		}

		.progressbar__option.active:before, .progressbar__option.active:after {
			background-color: #18DA35;
		}
