
.container {
  position: fixed;
  bottom: 4em;
  right: 1em;
}

.menu-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #c801ff, #b208f0, #9c0ce0, #870dd0, #720dc0);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
}
.menu-toggle .fa {
  color: #fff;
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  transition: 0.4s;
}
.menu-toggle.open .fa {
  transform: rotate(135deg);
}

.btn-app{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  background-color: #8A34D8;
  color: #fff;
  text-align: center;
}


.btn-app a {
 color: #fff;
}

.btn-app span{
  display: none;
  color: #ffffff;
  position: relative;
  right: 100px;
  top: -35px;
}
.btn-app:hover span{
  display: block;
  background-color: #8A34D8;
  width: 100px;
  border-radius: 15px;

}
.btn-app .fa {
  line-height: 2.5em;
}

.open .btn-app {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-round {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.menu-round .btn-app {
  bottom: 0.25em;
  right: 0.25em;
  transition: 0.4s;
}
.menu-round.open .btn-app:nth-of-type(1) {
  right: 0.5em;
  bottom: 4.25em;
  transition-delay: 0.2s;
}
.menu-round.open .btn-app:nth-of-type(2) {
  right: 3.5em;
  bottom: 3.5em;
  transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3) {
  right: 4.25em;
  bottom: 0.5em;
}

.menu-line {
  position: absolute;
  z-index: 2;
}
.menu-line .btn-app {
  bottom: 0;
  right: 0.5em;
  transition: 0.3s;
  transition-delay: 0.5s;
}

.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 4.25em;
}
.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 7.25em;
}
.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 10.25em;
}
.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 13.25em;
}
.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 16.25em;
}
.menu-line.open .btn-app:nth-of-type(6) {
  bottom: 19.25em;
}
.menu-line.open .btn-app:nth-of-type(7) {
  bottom: 22.25em;
}